## Arithmetic Operators

In [18]:
# Multiplication, division, modulo, and exponentiation
print(3 * 5)
print(10 / 2)
print(18 % 7)
print(4 ** 2)
print(10 // 3) #floor. The division without modulo

15
5.0
4
16
3

In [55]:
#round number to the last 2 digit
round(1.231231,2)

1.23

In [58]:
#output as a string with 2 digit
print(format(1.231231, ".2f"))
print(format(56, ".2f"))

1.23
56.00

## String

In [6]:
#cast a variable
str(123)
int('123')
float('123.123123')

123.123123

In [7]:
#slicing string
b = "Hello, World!"
print(b[2:5])

llo

In [8]:
#upper case
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [10]:
#remove white space from the beginning or end
a = "               Hello, World!              "
print(a.strip())

Hello, World!

In [11]:
#replacing string 
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [14]:
#splitting string
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

In [17]:
#format string with variable
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

## Lists

In [29]:
# Create the areas list
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

# Print out second element from areas
print(areas[1])

# Print out last element from areas
print(areas[-1])

# Use slicing to create downstairs
downstairs=areas[0:6]

# Use slicing to create upstairs
upstairs=areas[-4:]

11.25
9.5

In [30]:
#add element to a list
# Add poolhouse data to areas, new list is areas_1
areas_1 = areas+["poolhouse",24.5]

In [ ]:
# Sort list full in descending order: full_sorted
full_sorted=sorted(full,reverse=True)

In [3]:
# insert into list at a certain position
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

In [19]:
# Extend list with another list
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [21]:
#Add elements of a tuple to a list:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [22]:
# List comprehension
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x for x in fruits if "a" in x]
#newlist = [x for x in fruits if x != "apple"]
print(newlist)

['banana', 'cherry', 'kiwi', 'mango']

In [23]:
#remove list items based on item value/name
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")

In [23]:
#remove list item based on index
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)

In [25]:
#sort list
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [26]:
#merge list
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]
list3 = list1 + list2

## Tuple

In [27]:
# Create tuple with one item (need a comma)
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [ ]:
# list and tuple conversion. Need to first convert to a list then make modification
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

In [32]:
#join combine tuples
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)
tuple3 = tuple1 + tuple2

## Set

In [34]:
thisset = {"apple", "banana", "cherry", "apple"}
print(thisset)
print(type(thisset))

{'banana', 'apple', 'cherry'}
<class 'set'>

In [37]:
set(["apple", "banana", "cherry", "apple"])

{'apple', 'banana', 'cherry'}

In [ ]:
#remove item from set
thisset.remove("banana")

In [ ]:
#union set
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = set1.union(set2)

#join set
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = set1 | set2

## Dictionary

In [38]:
thisdict =	{
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}

In [39]:
# access value with key
thisdict["brand"]

'Ford'

In [40]:
# get a list of values in dict
thisdict.values()

dict_values(['Ford', False, 1964, ['red', 'white', 'blue']])

In [41]:
# get a list of keys in dict
thisdict.keys()

dict_keys(['brand', 'electric', 'year', 'colors'])

In [ ]:
#add item to dictionary
thisdict["color_extra"] = "red"

In [ ]:
#loop dictionary
#loop values
for x in thisdict.values():
  print(x) 

#loop keys
for x in thisdict.keys(): #or for x in thisdict (this also loops through keys)
  print(x)

#loop items (key value pair):
for x, y in thisdict.items():
  print(x, y)

## if - else

In [43]:
#use if if will evaluate every rule while use if elif will stop once a condition is met
if 1>0:
    print('true')
if 2>1:
    print('true')

true
true

In [42]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

## while loop

In [44]:
#Print i as long as i is less than 6:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [45]:
#breakout of the while loop
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [46]:
#continue while loop (skip when i == 3 and goes back to the loop start)
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

## For Loop

In [ ]:
for x in range(3):
  print(x)

for x in range(1,3):
  print(x)

for x in range(2, 30, 3):
  print(x)

## Lambda Function

In [47]:
x = lambda a : a + 10
print(x(5))

15

## OOP - object oriented programmingclass Person:

In [48]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

John
36

In [53]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

## Try Except

In [52]:
try:
  print('123')
except:
  print("An exception occurred")

123